<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/fragments.css}" type="text/css" media="all" href="css/fragments.css"/>
    <link rel="icon" th:href="@{images/culClemity.png}" type="image/png">

</head>
<body>

<div th:fragment="head" lang="fr">
    <title>Gleeden</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{css/fragments.css}" type="text/css" media="all" href="css/fragments.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" th:href="@{images/culClemity.png}" type="image/png">
</div>

<div th:fragment="headerAdmin">
    <img class="topleft"
         src="images/chat-iconClemity.png"/>
    <h1>This is love hotel </h1>
    <a href="/accueilPublic" class="button topright">Accéder à l'espace publique</a>
    </br>
</div>

<div th:fragment="headerPublic">
    <img class="topleft"
         src="images/chat-iconClemity.png"/>
    <h1>This is love hotel </h1>
    <div class="container">
        <a href="/accueilAdmin" class="button topright">Accéder à l'espace administrateur</a>
    </div>
    </br>
</div>

<div th:fragment="footer">
    <div style="display: flex;flex-wrap: wrap;justify-content: flex-start;align-items: center;align-content: center;">
        <div class="tenor-gif-embed" data-postid="16659338" data-share-method="host" data-aspect-ratio="2.35294" data-width="10%">
            <a href="https://tenor.com/view/snl-saturday-night-live-roxbury-jim-carrey-chris-kattan-gif-16659338"></a>
            <a href="https://tenor.com/search/snl-gifs"></a>
        </div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        <h3 style="margin-top: 10px; margin-left: 5px;">  Ton conjoint n'en saura rien </br>  Copyright @2021 All rights reserved | <b>Version</b> 2.0</h3>
    </div>
</div>

</body>
</html>