<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/fragments.css}" type="text/css" media="all" href="css/fragments.css"/>

</head>
<body>

<div th:fragment="head">
    <title>Gleeden</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{css/fragments.css}" type="text/css" media="all" href="css/fragments.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</div>

<div th:fragment="headerAdmin">
    <img class="topleft"
         src="images/chat-iconClemity.png"/>
    <h1>Ton conjoint n'en saura rien </h1>
    <div class="container">
        <a href="/accueilPublic" class="button topright">Accéder à l'espace publique</a>
    </div>
    </br>
</div>

<div th:fragment="headerPublic">
    <img class="topleft"
         src="images/chat-iconClemity.png"/>
    <h1>Ton conjoint n'en saura rien </h1>
    <div class="container">
        <a href="/accueilAdmin" class="button topright">Accéder à l'espace administrateur</a>
    </div>
    </br>
</div>

<div th:fragment="footer">
    </br>
    <h3>Copyright @2021 All rights reserved | <b>Version</b> 2.0</h3>
</div>

</body>
</html>