body /* Change la police de tout le body */
{
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    /*margin-right: 12px;
    margin-top: 20px;
    margin-bottom: 12px;*/
    /*background-color: #bd798f;*/
    /*color: floralwhite;*/
}

header {
    background-color: #4f082e;
}

footer {
    background-color: #4f082e;
}

/* Pour définir les positions, inscrire comme class="button right" */
.topright {
    position: absolute;
    top: 10px;
    right: 10px;
}

.right {
    position: absolute;
    right: 16px;
}

.topleft {
    position: absolute;
    top: 10px;
    left: 10px;
}

.bottomleft {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

/* Bouttons */
.button {
    background-color: #36072c;
    color: #e5b2cb;
    padding: 12px 15px;
    border-radius: 12px;
    font-size: 18px;
    margin: 3px 3px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #6c264a;
    color: white;
}

/* affectation du code pour les éléments généraux de l'HTML */
img { /* image taille logo */
    height: 60px;
    width: 60px;
    z-index: 0;
}

h1 /* Titre dans le header */
{
    font-size: 36px;
    color: #ffffffe0;
    position: relative;
    left: 82px;
    top: 17px;
    bottom: 17px;
}

h2 /* Titre des pages */
{
    padding-left: 40px;
    font-size: 25px;
    color: #4f082e;
}

h3 /* Dans le footer */
{
    font-size: 18px;
    color: rgb(178, 142, 159);
}

h4 /* Pour les labels de create-edit*/
{
    padding-right: 10px;
    font-size: 15px;
    color: rgb(54, 7, 44);
}

h5 /* Trucs help dans les formulaires */
{
    color: rgb(108, 38, 74);
    font-size: 13px;
}

p /* Paragraphes */
{
    color: rgb(54, 7, 44);
    font-size: 20px;
}

span {
    color: rgb(54, 7, 44);
    font-size: 19px;
}

/*Organisation des items dans des containers*/
.container-For2 {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.container-For3 {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.container-ForDroplist {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

.tailleImageTableau {
    width: 90px; !important;
}

.tailleEquipementTableau {
    width: 120px; !important;
}