<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragments.html :: head"></head>
<head>
    <link th:href="@{/css/main.css}" rel='stylesheet'/>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/locales-all.js}"></script>
    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {
            dbContent = document.getElementById('baliseDb').textContent;
            c = dbContent.slice(1, -1);
            c = c.split(', R');

            var initialLocaleCode = 'fr';
            var localeSelectorEl = document.getElementById('locale-selector');
            var calendarEl = document.getElementById('calendar');

            var meets = [];
            for (const meet of c) {
                smeet = meet.slice(0, -1);
                smeet = smeet.split(/=|,/);
                const el = {title: '', start: smeet[5], end: smeet[7]};
                meets.push(el)
            }

            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                initialDate: '2021-10-23',
                locale: initialLocaleCode,
                buttonIcons: false, // show the prev/next text
                weekNumbers: true,
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectMirror: true,
                select: function (arg) {
                    var title = prompt('Event Title:');
                    if (title) {
                        calendar.addEvent({
                            title: title,
                            start: arg.start,
                            end: arg.end,
                            allDay: arg.allDay
                        })
                    }
                    calendar.unselect()
                },
                eventClick: function (arg) {
                    if (confirm('Are you sure you want to delete this event?')) {
                        arg.event.remove()
                    }
                },
                editable: true,
                dayMaxEvents: true, // allow "more" link when too many events
                events: meets
            });

            calendar.render();

            // build the locale selector's options
            calendar.getAvailableLocaleCodes().forEach(function (localeCode) {
                var optionEl = document.createElement('option');
                optionEl.value = localeCode;
                optionEl.selected = localeCode == initialLocaleCode;
                optionEl.innerText = localeCode;
                localeSelectorEl.appendChild(optionEl);
            });

            // when the selected option changes, dynamically change the calendar option
            localeSelectorEl.addEventListener('change', function () {
                if (this.value) {
                    calendar.setOption('locale', this.value);
                }
            });

        });

    </script>
    <style>

        body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
        }

        #top {
            background: #eee;
            border-bottom: 1px solid #ddd;
            padding: 0 10px;
            line-height: 40px;
            font-size: 12px;
        }

        #calendar {
            max-width: 900px;
            margin: 40px auto;
            padding: 0 10px;
            background-color: white;
        }

    </style>

</head>

<body style="background-image: url('images/backgroundAccueilPublic.png');">

<script>
    function myFunction() {
        var x = document.getElementById("mySelect").value;
        document.getElementById("affichageSalleSelectionee").innerHTML = "Affichage salle n°" + x;
    }
</script>

<header th:insert="fragments/fragments.html :: headerPublic"></header>

<div class="container-New" style="justify-content: flex-start;">
    <h4 style="padding-right: 20px;" for="roomImput">Sélectionnez la salle pour visualiser son calendrier : </h4>
    <select id="mySelect" onchange="myFunction()">
        <option th:each="room : ${rooms}"
                th:utext="${room.name}"
                th:value="${room.room_id}">
        </option>
    </select>
</div>

<div class="container" id="affichage">
    <span style="color: rgb(54, 7, 44);font-size: 17px;" id="affichageSalleSelectionee">Affichage salle</span>
</div>

<p>Calendrier de la salle choisie</p>
<div id='calendar'></div>
</br>
<div style="display: none" th:text="${meets}" id="baliseDb"></div>
<footer th:insert="fragments/fragments.html :: footer"></footer>
</body>

</html>
