<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragments.html :: head">
    <link th:href= "@{/css/main.css}" rel='stylesheet' />
    <script type= "text/javascript" th:src="@{/js/main.js}"></script>
    <script type= "text/javascript" th:src="@{/js/locales-all.js}"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var initialLocaleCode = 'fr';
            var localeSelectorEl = document.getElementById('locale-selector');
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                initialDate: '2020-09-12',
                locale: initialLocaleCode,
                buttonIcons: false, // show the prev/next text
                weekNumbers: true,
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectMirror: true,
                select: function(arg) {
                    var title = prompt('Event Title:');
                    if (title) {
                        calendar.addEvent({
                            title: title,
                            start: arg.start,
                            end: arg.end,
                            allDay: arg.allDay
                        })
                    }
                    calendar.unselect()
                },
                eventClick: function(arg) {
                    if (confirm('Are you sure you want to delete this event?')) {
                        arg.event.remove()
                    }
                },
                editable: true,
                dayMaxEvents: true, // allow "more" link when too many events
                events: [
                    {
                        title: 'All Day Event',
                        start: '2020-09-01'
                    },
                    {
                        title: 'Long Event',
                        start: '2020-09-07',
                        end: '2020-09-10'
                    },
                    {
                        groupId: 999,
                        title: 'Repeating Event',
                        start: '2020-09-09T16:00:00'
                    },
                    {
                        groupId: 999,
                        title: 'Repeating Event',
                        start: '2020-09-16T16:00:00'
                    },
                    {
                        title: 'Conference',
                        start: '2020-09-11',
                        end: '2020-09-13'
                    },
                    {
                        title: 'Meeting',
                        start: '2020-09-12T10:30:00',
                        end: '2020-09-12T12:30:00'
                    },
                    {
                        title: 'Lunch',
                        start: '2020-09-12T12:00:00'
                    },
                    {
                        title: 'Meeting',
                        start: '2020-09-12T14:30:00'
                    },
                    {
                        title: 'Happy Hour',
                        start: '2020-09-12T17:30:00'
                    },
                    {
                        title: 'Dinner',
                        start: '2020-09-12T20:00:00'
                    },
                    {
                        title: 'Birthday Party',
                        start: '2020-09-13T07:00:00'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: '2020-09-28'
                    }
                ]
            });

            calendar.render();

            // build the locale selector's options
            calendar.getAvailableLocaleCodes().forEach(function(localeCode) {
                var optionEl = document.createElement('option');
                optionEl.value = localeCode;
                optionEl.selected = localeCode == initialLocaleCode;
                optionEl.innerText = localeCode;
                localeSelectorEl.appendChild(optionEl);
            });

            // when the selected option changes, dynamically change the calendar option
            localeSelectorEl.addEventListener('change', function() {
                if (this.value) {
                    calendar.setOption('locale', this.value);
                }
            });

        });

    </script>
    <style>

        body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
        }

        #top {
            background: #eee;
            border-bottom: 1px solid #ddd;
            padding: 0 10px;
            line-height: 40px;
            font-size: 12px;
        }

        #calendar {
            max-width: 900px;
            margin: 40px auto;
            padding: 0 10px;
        }

    </style>

</head>

<body style="background-image: url('images/backgroundAccueilPublic.png');">

<script>
function myFunction() {
  var x = document.getElementById("mySelect").value;
  document.getElementById("affichageSalleSelectionee").innerHTML = "Affichage salle n°" + x;
}
</script>

<header th:insert="fragments/fragments.html :: headerPublic"></header>

<div class="container-New" style="justify-content: flex-start;">
    <h4 style="padding-right: 20px;" for="roomImput">Sélectionnez la salle pour visualiser son calendrier : </h4>
    <select id="mySelect" onchange="myFunction()">
        <option th:each="room : ${rooms}"
                th:utext="${room.name}"
                th:value="${room.room_id}">
        </option>
    </select>
</div>

<div class="container" id="affichage">
    <span style="color: rgb(54, 7, 44);font-size: 17px;" id="affichageSalleSelectionee">Affichage salle</span>
</div>

<p>Calendrier de la salle choisie</p>
<div id='calendar'></div>
<div th:insert="fragments/fragments.html :: calendar_div"/>
</br>


</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
<footer th:insert="fragments/fragments.html :: footer"></footer>
</body>

</html>
