<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments.html :: head"></head>

<body style="background-color: #bd798f;    color: floralwhite;">
<header th:insert="fragments/fragments.html :: headerPublic"></header>

<h2>Selectionnez la salle pour visualiser son calendrier </h2>
<p>Choix de la salle</p>
<p>Calendrier de la salle choisie</p>
</br>

<div class="container">
    <span th:text="${message}"></span>
</div>

</br></br></br></br></br></br></br></br></br>
<footer th:insert="fragments/fragments.html :: footer"></footer>
</body>

</html>
