<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragments.html :: head">
</head>

<body style="background-image: url('images/backgroundAccueilAdmin.png'); background-color: #cbaeb5; color: floralwhite;">
<header th:insert="fragments/fragments.html :: headerAdmin"></header>

<div class="container-For2">
    <h2>Ajoutez un nouveau membre</h2>
    <a href="/accueilAdmin" class="button">Retour</a>
</div>

<div class="container">
    <form method="post" th:action="@{/newMember}" th:object="${user}">
        <div class="form-group">
            <h4 for="firstNameInput">Prénom</h4>
            <input type="text" th:field="*{firstName}" class="form-control" id="firstNameInput"
                   aria-describedby="firstNameHelp" placeholder="Entrez votre prénom"
                   maxlength="15" required>
            <h5 id="firstNameHelp">Entrez votre prénom ou votre surnom.</h5>
        </div>
        <div class="form-group">
            <h4 for="lastNameInput">Nom</h4>
            <input type="text" th:field="*{lastName}" class="form-control" id="lastNameInput"
                   aria-describedby="lastNameHelp" placeholder="Entrez votre nom"
                   maxlength="15" required>
            <h5 id="lastNameHelp">Entrez votre nom ou votre surnom.</h5>
        </div>
        <div class="form-group">
            <h4 for="ageInput">Age</h4>
            <input type="number" id="ageInput" aria-describedby="ageHelp" th:field="*{age}" name="quantity" min="18" max="114">
            <h5 id="ageHelp">Vous n'êtes pas obligé de donner votre âge mais nous n'acceptons que les membres
                majeurs.</h5>
        </div>
        <div class="form-group">
            <h4 for="emailInput">Email</h4>
            <input type="email" th:field="*{email}" class="form-control" id="emailInput"
                   aria-describedby="emailHelp" placeholder="Entrez votre mail"
                   maxlength="50" required>
            <h5 id="emailHelp">Il sera plus pratique de vous contacter avec votre mail.</h5>
        </div>
        <button type="submit" class="button right">Ajouter</button>
    </form>
</div>


</br></br></br></br>
<footer th:insert="fragments/fragments.html :: footer"></footer>
</body>

</html>