<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragments.html :: head">
</head>

<body style="background-color: #bd798f; color: floralwhite;">
<header th:insert="fragments/fragments.html :: headerAdmin"></header>

<h2>Ajoutez une nouvelle salle</h2>

<div class="container">
    <form method="post" th:action="@{/newRoom}" th:object="${room}">
        <div class="form-group">
            <label for="NameInput">Nom de la salle</label>
            <input type="text" th:field="*{name}" class="form-control" id="nameInput"
                   aria-describedby="nameHelp" placeholder="Entrez le nom de la salle">
            <small id="nameHelp" class="form-text text-muted">Il vous faut un nom qui décrira la salle.</small>
        </div>
        <div class="form-group">
            <label for="capacityInput">Capacité</label>
            <select name="capacityBolean" id="capacityInput" th:field="*{capacity}" >
                <option value="1">1 personne</option>
                <option value="2">2 personnes</option>
                <option value="3">3 personnes</option>
                <option value="4">4 personnes</option>
                <option value="5">5 personnes</option>
                <option value="6">6 personnes</option>
                <option value="7">7 personnes</option>
                <option value="8">8 personnes</option>
                <option value="9">9 personnes</option>
                <option value="10">10 personnes</option>
            </select>
            <small id="capacityHelp" class="form-text text-muted">Entrez le nombre de personnes que la salle peut recevoir, ce nombre ne pourra pas être dépassé.</small>
        </div>
        <div class="form-group">
            <label for="screenInput">Écran</label>
            <select name="screenBolean" id="screenInput" th:field="*{screen}" >
                <option value="0">Non</option>
                <option value="1">Oui, 1</option>
                <option value="2">Oui, 2</option>
                <option value="3">Oui, 3</option>
            </select>
            <small id="screenHelp" class="form-text text-muted">La salle possède-t'elle un écran ?</small>
        </div>
        <div class="form-group">
            <label for="tabletInput">Tablette tactile</label>
            <select name="tabletBolean" id="tabletInput" th:field="*{tablet}" >
                <option value="0">Non</option>
                <option value="1">Oui, 1</option>
                <option value="2">Oui, 2</option>
                <option value="3">Oui, 3</option>
            </select>
            <small id="tabletHelp" class="form-text text-muted">La salle possède-t'elle une tablette tactile ?</small>
        </div>
        <div class="form-group">
            <label for="boardInput">Tableau</label>
            <select name="boardBolean" id="boardInput" th:field="*{board}">
                <option value="0">Non</option>
                <option value="1">Oui, 1</option>
                <option value="2">Oui, 2</option>
                <option value="3">Oui, 3</option>
            </select>
            <small id="boardHelp" class="form-text text-muted">La salle possède-t'elle un tableau ?</small>
        </div>
        <button type="submit" class="button right">Ajouter</button>
    </form>
</div>


</br></br></br></br>
<footer th:insert="fragments/fragments.html :: footer"></footer>
</body>

</html>