<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragments.html :: head">
</head>

<body style="background-color: #bd798f; color: floralwhite;">
<header th:insert="fragments/fragments.html :: headerAdmin"> </header>

<h2>Reservation de salle </h2>
<div class="container">
    <a href="/new" class="button right">Rechercher</a>
</div>
<p>Date souhaitée</p>
<p>Heure souhaitée</p>
<p>Durée</p>
<p>Préférence : matin
    Après-midi
    Dès que possible
    La semaine prochaine
    Le mois prochain</p>
<p>Capacité</p>
<p>Équipement : tableau
    Écran
    Tablette</p>
<p>Préference pour la ou les salles :</p>

<h2>Salles correspondant aux critères : </h2>
<p>Liste salle</p>


<h2>Sélectionnez les personnes à inviter : </h2>
<p>Liste des personnes</p>

<p>Filtrer par :</p>
<a href="/new" class="button right">Envoyer une invitation </a>
</br>

</br></br></br></br></br></br>
<footer th:insert="fragments/fragments.html :: footer"> </footer>
</body>

</html>