<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragments.html :: head">
</head>

<body style="background-color: #bd798f; color: floralwhite;">
<header th:insert="fragments/fragments.html :: headerAdmin"></header>

<h2>Reservation de salle </h2>


<p class="container">
<p>Date souhaitée</p>
<p>Heure souhaitée</p>
<p>Durée</p>


        <p>
            Veuillez indiquer pour quand vous voulez réserver :<br />
            <input type="radio" name="preference" value="matin" id="matin" /> <label for="matin">Le matin</label><br />
            <input type="radio" name="preference" value="apres-midi" id="apres-midi" /> <label for="apres-midi">L'apres-midi</label><br />
            <input type="radio" name="preference" value="asap" id="asap" /> <label for="asap">Des que possible</label><br />
            <input type="radio" name="preference" value="semainepro" id="semainepro" /> <label for="semainepro">la semaine prochaine</label><br />
            <input type="radio" name="preference" value="moispro" id="moispro" /> <label for="moispro">le mois prochain</label><br />
        </p>

    <form th:object="${room}"   method="post">
        <p>
            <label for="searchC">Capacity</label>
            <input type="text" th:field="*{capacity}" name="capacity" id="searchC"
            placeholder="Capacité désirée">
        </p>


<p>Équipement : <p>
<p>
    <label for="searchB">Tableau</label>
    <input type="text" th:field="*{board}" name="board" id="searchB"
           placeholder="nombre de tableaux">
</p>
<p>
    <label for="searchS">Ecran</label>
    <input type="text" th:field="*{screen}" name="screen" id="searchS"
           placeholder="nombre d'écran">
</p>
        <p>
            <label for="searchT">Tablette</label>
            <input type="text" th:field="*{tablet}" name="tablet" id="searchT"
                   placeholder="nombre de tablettes">
        </p>
        <div class="container">
            <button type="submit"   name="action" value="find" class="button right">Rechercher</button>

        </div>
    </form>

<p>Préference pour la ou les salles :</p>



</div>


<form method="post" th:action="@{/reservation}" th:object="${dates}"  >



<h2>Salles correspondant aux critères : </h2>
<p>Liste salle</p>
<div class="container table-responsive">
    <table class="table table-striped table-dark table-hover bg-table">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="tailleImageTableau"></th>
            <th scope="col">Nom</th>
            <th scope="col">Capacité</th>
            <th scope="col">Écran</th>
            <th scope="col">Tablette</th>
            <th scope="col">Tableau</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${search}">
            <td scope="row"><img th:src=${room.icon}></td>
            <td th:text=${room.name}></td>
            <td th:text=${room.capacity}></td>
            <td th:text=${room.screen}></td>
            <td th:text=${room.tablet}></td>
            <td th:text=${room.board}></td>
          </tr>
        </tbody>
    </table>
</div>
        </div>


<h2>Sélectionnez les personnes à inviter : </h2>
<p>Liste des personnes</p>

<div class="container table-responsive">
    <!--    container-->
    <table class="table table-striped table-dark table-hover bg-table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Age</th>
            <th scope="col">Ajouter</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td scope="row" th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}"></td>
            <td><a style="color: #ffffff;">Ajouter</a></td>
        </tr>
        </tbody>
    </table>
</div>

    <div class="form-group">
        <label for="start_dateInput">Date de début</label>
        <input type="datetime-local" th:field="*{date_d}" class="form-control" id="start_dateInput"
               placeholder="Date de début de la reservation">
    </div>

    <div class="form-group">
        <label for="end_dateInput">Date de fin</label>
        <input type="datetime-local" th:field="*{date_f}" class="form-control" id="end_dateInput"
               placeholder="Date de fin de la reservation">
    </div>



<button type=submit name="action" value="add" class="button right">Envoyer une invitation </button>
</form>

    </br>

</br></br></br></br></br></br>
<footer th:insert="fragments/fragments.html :: footer"></footer>
</body>

</html>